<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

        <modules>
          <remove name="WebDAVModule" />
      </modules>

    <rewrite>
      <rules>
                <remove name="React Routes" />
                <remove name="ReverseProxyInboundRule1" />
        <rule name="Rewrite all to index.php" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
                <rule name="ReverseProxyInboundRule1" enabled="false" stopProcessing="true">
                    <match url="api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables />
                    <action type="Rewrite" url="/envasado/api/{R:1}" />
                </rule>
                <rule name="React Routes" enabled="false" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/envasado/" />
                </rule>
      </rules>
    </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="Access-Control-Allow-Methods" />
                <remove name="Access-Control-Allow-Origin" />
                <remove name="Access-Control-Allow-Headers" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        

  </system.webServer>
</configuration>
